{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block after_related_objects %}
{% if change %}
  <fieldset class="module aligned">
  <h2>{% trans "Sidebar Widgets" %}</h2>
  <div class="form-row" >
  	 <a id="add_new" class="addlink" href="{% url 'admin:simple_sidebars_sidebar_additem' original.pk %}">{% trans "Add an widget" %}</a>
	  <select id="widget_kind">
  	  {% for k in original.get_item_types %}  	  
  	      <option value="{{k}}">{{k}}</option>
      {% endfor %}
      </select>
  </div>
  <div class="menu-item-row" >
	  <table cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>{% trans "Title" %}</th>
				<th>{% trans "Kind" %}</th>
				<th colspan="2">{% trans "Move" %}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		  {% for widget in original.widgets %}
			<tr class="{% cycle 'row1' 'row2' %}">
					<th style="width:auto">
						<a target="widgetEdit" href="{% url 'admin:simple_sidebars_sidebar_edititem' original.pk forloop.counter0 %}">{% if widget.title %}{{ widget.title|safe }}{% else %}<em>({{widget.widget_kind}})</em>{% endif %}</a>
					</th>
					<td width="25%">
						{{ widget.widget_kind }}
					</td>				
				    
					{% if not forloop.last %}
						<td width="10" align="center"><a href="{% url 'admin:simple_sidebars_sidebar_downitem' original.pk forloop.counter0 %}" class="downwidget" title="{% trans 'Move Widget Down' %}">&#x21E9;</a></td>
					{% else %}
						<td width="10">&nbsp;</td>
					{% endif %}
					
					{% if not forloop.first %}
						<td width="10" align="center"><a href="{% url 'admin:simple_sidebars_sidebar_upitem' original.pk forloop.counter0 %}" class="upwidget" title="{% trans 'Move Widget Up' %}">&#x21E7;</a></td>
					{% else %}
						<td width="10">&nbsp;</td>
					{% endif %}
					<td width="10"><a href="{% url 'admin:simple_sidebars_sidebar_deleteitem' original.pk forloop.counter0 %}" class="deletewidget" title="{% trans 'Delete Widget' %}">Delete</a></td>
			</tr>
		  {% endfor %}
		</tbody>
	  </table>
  </div>
  </fieldset>
{% endif %}
{% endblock %}